<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= meta.description %>">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="<%= meta.title %>">
  <meta property="og:description" content="<%= meta.description %>">
  <meta property="og:image" content="http://ginza-seiko.jp/assets/images/ogp.png"> <!--projectによって変更-->
  <meta property="og:url" content="http://ginza-seiko.jp<%= meta.url %>"><!--projectによって変更-->
  <meta property="og:type" content="website">
  <title><%= meta.title %></title>
  <link rel="icon" href="<%= fromRoot -%>assets/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= fromRoot -%>assets/images/apple-touch-icon-180x180.png">
  <link rel="stylesheet" href="<%= fromRoot -%>assets/css/style.css">
</head>
